@media  screen and (orientation:landscape) {
    

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.body{
    background-color: black;
}
.navbar{
    display: flex;
    background-color: #7f7f7f;
    height: 6vh;
    color: #f8f8f8;
    
    
}
.nav-left{
    flex: 1;
    padding-left: 100px;
    padding-top: 10px;
    
}
.nav-right{
    flex: 1;
    padding-left: 100px;
    padding-top: 10px;
}

.image{
    position: relative;
    z-index: 5;
    opacity: 0.5;
    background-color: rgba(0,0,0,0.5);
}
.content{
    position: absolute;
    z-index: 7;
    height: 100vh;
    width: 20vw;
    top: 7vh;
    left: 70vw;
    
}
.container{
    
}
.bottom{
    height: 10vh;
    width: 100vw;
    background-color: #7f7f7f;
    text-align: center;
    padding-top: 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa-facebook {
    background: #7f7f7f;
    color: white;
  }
  .fa-twitter {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-google {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-linkedin {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-youtube {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-instagram {
    background: #7f7f7f;
    color: white;
  }
  .p{
      padding-left: 10vw;
  }
  
}

@media screen and (orientation:portrait) {
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.navbar{
    display: flex;
    background-color: #7f7f7f;
    height: auto;
    color: #f8f8f8;
    width: 100vw;
   
    
    
}
.nav-left{
    flex: 1;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
}
.nav-right{
    flex: 1;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image{
    position: relative;
    z-index: 5;
    /* opacity: 0.5; */
    
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.content{
    position: absolute;
    z-index: 7;
    height: 100vh;
    width: 80vw;
    top: 7vh;
    left: 7vw;
    
    
}
p{
    font-size: smaller;
}
.content1{
    padding: 7vw;
    
}


.bottom{
    height: auto;
    width: 100vw;
    background-color: #7f7f7f;
    text-align: center;
    padding-top: 10px;
    
   
   position: absolute;
   top: 95vh;
  
    
    
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
.fa-facebook {
    background: #7f7f7f;
    color: white;
  }
  .fa-twitter {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-google {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-linkedin {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-youtube {
    background: #7f7f7f;
    color: white;
  }
  
  .fa-instagram {
    background: #7f7f7f;
    color: white;
  }
    
}